In [1]:
import pandas as pd

In [2]:
students = ['alen','akil','john']

pd.Series(students)

0    alen
1    akil
2    john
dtype: object

In [3]:
mark = [12,34,45]
pd.Series(mark)

0    12
1    34
2    45
dtype: int64

In [4]:
student = ['alen','akil',None]
pd.Series(student)

0    alen
1    akil
2    None
dtype: object

In [5]:
mark = [12,34,None]
pd.Series(mark)

0    12.0
1    34.0
2     NaN
dtype: float64

In [6]:
import numpy as np
np.nan

nan

In [7]:
np.nan == None

False

In [8]:
np.nan == np.nan

False

In [9]:
np.isnan(np.nan)

True

`np.nan` and `None` both represent an empty value, but they are treated as different. NaN (not a number) is for numbers.

In [19]:
# let's create panda series with dictionary 

student_data = {'alen' : 12,
                'akil' : 34,
                'john' : 45}

s = pd.Series(student_data)
s

alen    12
akil    34
john    45
dtype: int64

In [20]:
s.index

Index(['alen', 'akil', 'john'], dtype='object')

In [22]:
s.values

array([12, 34, 45], dtype=int64)

In [23]:
emp_name = [('anil','kumar'),('star','magic'),('luna','bunny')]
en = pd.Series(emp_name)
en

0    (anil, kumar)
1    (star, magic)
2    (luna, bunny)
dtype: object

In [27]:
emp_job = pd.Series(['data analysis', 'data science', 'ML engineer'], index = ['anil','mukil','abu'])
emp_job

anil     data analysis
mukil     data science
abu        ML engineer
dtype: object

In [29]:
student_data = {'alen' : 'good',
                'akil' : 'Okay',
                'john' : 'bad'}

std_dt = pd.Series(student_data, index = ['alen','john','luna'])
std_dt

alen    good
john     bad
luna     NaN
dtype: object