In [1]:
# regular Expression 
import re

In [8]:
# Search the value in the string

text = "He is a good boy"
if re.search('good',text):
    print('selected')
else:
    print("not selected")

selected

In [9]:
# Check the text start with a word

text = "He is a good boy"
if re.match('He',text):
    print('true')
else:
    print("false")

true

In [11]:
# tokenizing 

text = "alen is the hero in the game, alen is footbal player, alen is also my friend"
re.split('alen',text)

['',
 ' is the hero in the game, ',
 ' is footbal player, ',
 ' is also my friend']

In [14]:
# count the number word alen in the sentence

print(re.findall("alen",text))
print(len(re.findall("alen",text)))

['alen', 'alen', 'alen']
3

In [15]:
re.search('^alen', text)

In [23]:
text = "alen is the hero in the game, alen is footbal player, my friend alen"

re.search('alen$', text)

In [24]:
grades = "ABBCCAABCABCCA"

In [25]:
# fing number of B in the grades
re.findall('B', grades)

['B', 'B', 'B', 'B']

In [26]:
# fing number of B and A in the grades
re.findall("[BA]", grades)

['A', 'B', 'B', 'A', 'A', 'B', 'A', 'B', 'A']

In [39]:
re.findall("BA", grades) == re.findall("[B][A]", grades) # both are same. so,

True

In [40]:
# find in grade first 2 letter start with A or B, but the last letter must be C
re.findall('[A-B][A-B]C', grades)

['BBC', 'ABC', 'ABC']

In [41]:
re.findall('AB|CA|BC|AA', grades)

['AB', 'BC', 'CA', 'AB', 'CA', 'BC', 'CA']

In [42]:
# All grades except A
re.findall('[^A]', grades)

['B', 'B', 'C', 'C', 'B', 'C', 'B', 'C', 'C']

In [43]:
re.findall('^[^A]', grades)

[]

In [44]:
grades = "CBBCCAABCABCCA"
re.findall('^[^A]', grades)

['C']

### Quantifiers

In [46]:
grades = 'AABBBAAAACAAABA'
re.findall('A{2,5}',grades)

['AA', 'AAAA', 'AAA']

In [48]:
re.findall('A{2}',grades) # take min and max 2

['AA', 'AA', 'AA', 'AA']

In [51]:
re.findall('A{1,10}B{1,10}', grades)

['AABBB', 'AAAB']

In [4]:
import re

simple_string = """Amy is 5 years old, and her sister Mary is 2 years old. 
    Ruth and Peter, their parents, have 3 kids."""

# YOUR CODE HERE
result = re.findall("[A-Z][\w]*",simple_string)
print(result)

['Amy', 'Mary', 'Ruth', 'Peter']